[2016-03-14 09:30] pascalberger opened #7 "'Access denied' while trying to use Tokenizer task"
Using the Tokenizer task I get the following error:

[code]

In the task I have just set the `Source filename` (a WebDeploy SetParameters.xml file). No `Destination filename` and no `Configuration Json filename`, which according to documentation should replace all `__foo__` token with the value of the `foo` variable.

[2016-03-14 09:56] pascalberger opened #9 "Provide instructions how to build & package this task"
It would be nice to have instructions how to build & package this task for contribute back. Something like done [here in the vso-agent-tasks repo](https://github.com/Microsoft/vso-agent-tasks/blob/master/docs/contribute.md).

[2016-03-16 05:59] anangaur commented on #7
Could you check permissions? I don't seem to see this issue. Will get this investigated anyway.

[2016-03-16 06:06] anangaur commented on #9
Thanks for the feedback. Will. Keeping it open till I put this document in.

[2016-03-16 06:24] anangaur commented on #9
I have made changes to README.md to document how to contribute. Hope this helps.

https://github.com/openalm/Extension-UtilitiesPack/blob/master/README.md

[2016-03-16 06:24] #9 closed

[2016-03-16 06:58] pascalberger commented on #7
What permissions to check? I tried to use this on an On-Prem agent which runs as a Windows service under a specific user. Since the whole agent runs under this account I assume it should have permissions to the work directory of the build, also since he is able to get the source code, build and modify files through other tasks.

The difference is that this task seems to try to write a file directl

[2016-03-16 10:34] harshil93 commented on #7
You need to provide the full path to the file and not the folder. For eg. source file name should be of the form "$(System.defaultdirectory)/SetParameters.xml"

[2016-03-16 10:46] shashban opened #12 "Rollback Task Fails for TFS OnPrem"
Rollback task on TFS 2015 Update 2 RC 2 gives an error saying Could not get release status

[2016-03-16 10:47] shashban opened #13 "Inline powershell scripting capability for Rollback Task"

[2016-03-16 14:54] shashban commented on #12
Addressed with
#14

[2016-03-16 14:54] #12 closed

[2016-03-16 14:54] shashban commented on #13
Addressed with #14

[2016-03-16 14:56] #13 closed

[2016-03-18 10:46] anangaur opened #15 "Tokenizer task should accept mini-match pattern"

[2016-03-18 16:10] anangaur commented on #7
This issue should now be fixed.

[2016-03-18 16:10] #7 closed

[2016-03-18 18:45] anangaur opened #16 "Tokenizer task - Error when destination path is provided."

[2016-04-05 16:41] ivanz opened #20 ""Secret" configuration variables are not tokenized"
"Secret" configuration variables (in an environment in Release Management in VSTS) are not tokenized.

[2016-04-05 18:26] robpex opened #21 "Tokenizer does not handle encrypted environment variables"
Tokenizer will not replace matched variables if the value is encrypted.

[2016-04-05 19:20] pascalberger commented on #21
This might be a duplicate of #20

[2016-04-05 19:33] robpex commented on #21
@pascalberger I understood that to be the "Secret" variables Microsoft documents, such as "Build.BuildNumber or BUILD_BUILDNUMBER". This is about the variables where you click the lock to encrypt them.  It's possible they're both not working for the same reason though?

[2016-04-05 20:03] pascalberger commented on #21
@robpex Not sure what exactly is meant in #20 (I understood it also as encrypted variables). Anyway it might be better to report this at https://github.com/Microsoft/vsts-agent, since this is something which currently cannot be handled in any custom task like the Tokenizer, since the task doesn't has access to the unencrypted value of the variable (Or maybe someone from MSFT can correct me if they

[2016-04-05 20:19] pascalberger opened #24 "Set token to empty value"
Currently it seems to not be possible to set the value of a token in the tokenizer task to an empty value. If I have a file containing the token `__foo__` and a variable with no value set, the token is not replaced (`Test-Path env:$matchedItem` returns `false`).

It would be nice if the Tokenizer would also support to replace tokens with empty strings.

[2016-04-06 08:16] pviktor commented on #21
I've fixed this problem and created a pull request. You can check it.

[2016-04-06 15:17] jmichaud-ips opened #26 "Allow search/replace option in json"
An additional optional property in the JSON config could be added for a search string.  If it exists, then only that search string gets replaced with the string specified in Value instead of the whole attribute.  Valid values in ReplaceSearchString are anything the powershell -replace method can support, which includes regex.  See below for example:
	{
          "KeyName": "/configuration/appSetti

[2016-04-07 08:04] MarcelMichau opened #28 "Incorrect file being used for tempFile contents in tokenize.ps1"
I was having an issue where the destination file wasn't being tokenized at all, and looking at the tokenize.ps1 script I noticed that the script used the destination file's contents to iterate over, searching for matches. However, it is the source file which contains the tokens.  Changing the `Copy-Item` step to `Copy-Item -Force $SourcePath $tempFile` allowed the destination file to be transforme

[2016-04-09 07:53] uwe-baumann commented on #28
Hello Marcel, I ran into the same problem, and without having read your post, came to the same conclusion by debugging the Tokenize.ps1 script. I exactly changed the same line, and it works now. IMHO this is a major bug. Specifying the Destination file will not work in any case.

[2016-04-11 06:18] pascalberger commented on #24
@anangaur Any idea about this?

[2016-04-16 18:32] harshil93 commented on #28
If you go over the [task documentation](https://github.com/openalm/Extension-UtilitiesPack/blob/master/Utilites/overview.md), it is clearly mentioned that the tokens are expected in the source file. If destination file is specified, the source file is not modified instead a destination file is created which has source file with tokens replaced.

For eg. you have a file config.example.conf which yo

[2016-04-16 18:38] harshil93 commented on #26
Why would you want a part of the string to be replaced with the value. You can specify the whole value instead of partial value for replacement.

[2016-04-16 18:50] harshil93 commented on #24
@pascalberger Yes this is a bug. I will try to fix it asap.

[2016-04-16 19:25] harshil93 commented on #24
I tried setting an environment variable in powershell with empty value and it doesn't set that variable.
`[Environment]::SetEnvironmentVariable("TestVariable", "", "User")`

I think an env variable with empty value means you are unsetting that environment variable and thus it is no longer passes the test-path env:$matchedItem check.

[2016-04-18 13:46] jmichaud-ips commented on #26
I have a scenario with multiple WCF endpoints in a config.  The first half is the base URL, which is always the same.  The second half is a unique string per endpoint.  I don't want to make a transform JSON for each endpoint (at least 6 of them).

[2016-04-19 06:31] uwe-baumann commented on #28
Hello Harshil, as Marcel and I said, we used the Tokenzier exactly like you described it, and we also read the docs, but it simply does not work. If a destination file and source file are specified, nothing is replaced in the destination file. This is obvious form the source code that gets downloaded into the Agent folder which imho contains a bug - also see the comment by Marcel and me above. Ple

[2016-04-19 08:19] pascalberger commented on #24
@harshil93 Yes this was also my observation. Any approach how this should be solved? Would setting an empty value in case neither environment variable was set nor value was found in configuration be an option?

[2016-04-19 08:29] harshil93 commented on #28
@uwe-bauman I went through the code and got your point. You and @MarcelMichau  are right.

The task isn't working as intended. The intended fix is to replace line
`Copy-Item -Force $DestinationPath $tempFile`
with
`Copy-Item -Force $SourcePath $tempFile`

If anyone of you is willing to create a pull request, then do so right away. I will merge it asap. Otherwise I will fix it later in the day.

[2016-04-19 09:11] anangaur commented on #28
This has been now fixed with https://github.com/openalm/Extension-UtilitiesPack/commit/55a0ec939efb448d0bc07bdb57bab5f275e55aa3

[2016-04-19 09:11] #28 closed

[2016-04-19 09:13] anangaur commented on #16
Duplicate of https://github.com/openalm/Extension-UtilitiesPack/issues/28

[2016-04-19 09:13] #16 closed

[2016-04-19 13:07] harshil93 opened #29 "Port tasks to use the new Powershell3 handler and VSTS task SDK."
We need to use the new [VSTS Task SDK](https://github.com/Microsoft/vsts-task-lib) .

It will allow for better testability with actually using the agent and better tracing.

[2016-04-20 13:52] declanmc opened #30 "Null-Valued expression when running rollback"
I get the following error when running the rollback powershell build step containing the sample script from the overview.md:

![image](https://cloud.githubusercontent.com/assets/10504666/14676828/116c1fe0-0707-11e6-9c66-2b93d9872796.png)

I am running this in VSTS, am I doing something wrong?

[2016-04-21 16:53] harshil93 commented on #30
The Rollback task is to be used with Release Hub not with Build hub. Its visibility is set to be available only in Release but somehow it showing up in the task list for build hub also.

[2016-04-21 16:53] #30 closed

[2016-04-21 16:54] harshil93 opened #31 "Rollback task: text area size increase in task.json"
Increase the size for the inline script block

[2016-04-23 16:56] harshil93 commented on #31
Fixed with https://github.com/openalm/Extension-UtilitiesPack/commit/f1cd5268b0626fd2c82f5432c32b4ddf58d4d299

[2016-04-23 16:56] #31 closed

[2016-04-26 14:09] harshil93 commented on #21
Waiting for the new sdk changes to get in.

[2016-05-12 08:32] daughey opened #34 "zip advanced options - overwrite existing zip"
I would like it if the Zip task had an Advanced options section that contained a checkbox for overwriting an existing zip file.

This would be useful in an incremental build situation where the build agent is re-used without a clean workspace.  It would remove the need to include the Delete Files task in the build.

[2016-05-12 08:40] pascalberger commented on #24
@harshil93 @anangaur Any opinion about this?

[2016-05-15 18:22] harshil93 commented on #34
Working on it.

[2016-05-15 18:47] harshil93 commented on #34
https://github.com/openalm/Extension-UtilitiesPack/pull/35

[2016-05-15 18:47] #34 closed

[2016-05-19 10:09] schwaizi opened #37 "Rollback Redeploy status not updating"
Rollback status is not taking the right status on redeploy on specific environment. It always take the task statuses from the first Deploy attempt.
The issue is Rollback task is not using the latest "Redeploy attempt" number from the release.

My idea is to adjust Api Uri to point to Release instead of Task:

`$releasequeryuri = "$($env:SYSTEM_TEAMFOUNDATIONSERVERURI)$($env:SYSTEM_TEAMPROJECT)/_ap

[2016-05-19 12:15] MarcelMichau commented on #24
I agree with @pascalberger.  If an environment variable is unset (i.e. not found in configuration) by means of assigning it to an empty string, then the replaced variable should default to an empty string. i.e in the very last `else` block of the tokenise.ps1 script:
   `Write-Host "No value found for token '$match' - setting to empty string"`
   `$variableValue = [string]::Empty`
works fine for m

[2016-05-25 21:32] strtdusty opened #39 "Support ARM powershell++ commands"
It would be nice to use powershell++ when you need to run Azure RM commands.

[2016-06-02 15:52] dsoprea opened #40 "Tokenization task often/always disappears from build definition"
I'll add a task for tokenization to my build definition and the build definition will execute and do everything exactly as expected. However, if I were to reopen the build-definition, the new task will be missing (even though it's actively being used in builds).

If I were to add a task of a different type it will show up as expected on future visits. I've not used this VSIX/task very much, but I'

[2016-06-06 08:11] kfrajtak opened #41 "TFS vNext Powershell build step is using older version of Powershell module"
Hi,

a build with Powershell++ step keeps failing when I try to run task containing following code `Copy-Item -FromSession $cs` (the command is not complete, important is the usage of `FromSession`) to copy items from a different machine. The error message is

However, the code does not fail when run from PS console when I'm logged to that machine.

Then I included

    (get-command copy-item).Ver

[2016-06-06 09:09] #41 closed

[2016-06-06 09:10] kfrajtak commented on #41
Sorry, this is neither related to utilities pack nor to Microsoft.PowerShell.Management version. The issue here is the source path and the provider - when wildcard character is used, I get this error. It works fine without wildcards.

[2016-06-07 20:04] dsoprea commented on #40
Bump. I'll simply add a tokenization (without a configuration file), save it, reload, and it's gone.

[2016-06-24 11:54] akshayjain114 opened #43 "Spelling error 'whoose'"
Please correct this spelling error in Utilities\Zip\task.json, line number 35

[2016-06-30 09:11] gkravi opened #44 "Could not obtain release tasks status in VSTS Rollback task"
I am using Rollback task with File Path to powershell script in VSTS Release pipeline. The script will read the task status and execute the rollback action. But while executing it in Release pipeline getting below error.

[code]

The script used is given below:

[code]

Tried both inline script and File Path approach but did not work. Please help.

[2016-07-07 01:35] johndpalm opened #45 ""Could not find a part of the path" error - TFS On-Premises"
I can't get the Tokenizer to work.  It appears to attempt to access a temp file that is not being created.  I've checked the build server and no subfolders are being created below the 1.1.1 directory.  There is not further detail in the logs.

Starting task: Tokenizer: Transform Source filename

******************************************************************************
Executing the powershell

[2016-07-07 02:53] johndpalm opened #46 "tokenize.ps1 fails to selectsinglenode without namespace"
I'm trying to use the Tokenizer against a SharePoint app manifest.xml file.  SelectSingleNode (line 57) fails since there is a name space.  I think if you test for NameTable or NamespaceURI you can support this with little code change:

$ns = New-Object System.Xml.XmlNamespaceManager($xmlraw.NameTable)
$ns.AddNamespace("ns", $xmlraw.DocumentElement.NamespaceURI)
$xmlraw.SelectSingleNode("//ns:$($k

[2016-07-08 11:09] pascalberger commented on #46
@johndpalm Depending on what you need to patch in the SharePoint app manifest, we have created a build task which allows to set the URL & ClientID in the app manifest. You can find the extension [here](https://marketplace.visualstudio.com/items?itemName=ioz.sharepoint-build-tasks).

[2016-07-11 23:50] GlenConway opened #47 "Configuration file 'Tokenizer.json' not found."
Hi there - I can't get the script to find the configuration json file. I was wondering if it needs to be copied somewhere explicitly? I've placed it in the root of my source control folder and set the Configuration Json filename value to Tokenizer.json.

Thanks

[2016-07-12 11:36] GlenConway commented on #47
Figured out you need to use a variable in the path i.e. "$(build.sourcesdirectory)\Tokenizer.json"

[2016-07-12 11:36] #47 closed

[2016-07-13 01:39] incarnate commented on #46
Just to note we've experienced the same issue when trying to do a replace with NLog configurations in Web.config as it is namespaced.

Happy to submit a fix along the lines of John's suggestion above, however I wasn't sure on how the move to the new Powershell/VSTS SDK has progressed (#29)

[2016-07-17 21:05] pascalberger commented on #24
I've created a PR for this: #48. @harshil93 @anangaur Any chance to get this merged and released?

[2016-07-18 19:33] pascalberger commented on #40
@dsoprea Do you still see this issue? There was recently [a fix deployed to VSTS](https://twitter.com/DonovanBrown/status/749683634932633604) handling issues with disappearing tasks from extensions.

[2016-07-18 19:34] pascalberger commented on #46
@incarnate There exists a branch which I assume is related to #29: https://github.com/openalm/Extension-UtilitiesPack/commits/features/vsts-new-sdk-port.

But unfortunately there was no interaction here in any branch, PR or issue from any member / MSFT employee in the past 2 months...

[2016-07-18 19:39] pascalberger commented on #29
@harshil93 Any progress on this? I see there exists a branch [here](https://github.com/openalm/Extension-UtilitiesPack/commits/features/vsts-new-sdk-port) but no commits there since two months.

[2016-07-19 04:42] harshil93 commented on #29
@pascalberger I will try to get this merged when I get some time off, may be this weekend.

[2016-07-20 00:56] incarnate commented on #46
I'd noted the same @pascalberger :-(

Paging @harshil93 - is this extension still being updated or maintained?

[2016-07-23 01:35] jdshkolnik opened #49 "Rollback InlineScript fails on TFS 2015 Update 3"
I don't know if it'll fail in other environments. Using v0.1.3, I defined an environment variable called Release_Tasks, added the Rollback task, set type to Inline Script, left the default script statement in place (Write-Host..), enabled, always run, and got...

[code]

[2016-07-24 14:38] harshil93 commented on #24
@pascalberger - One issue I can see with setting a not defined variable to an empty is breaking existing behavior if someone later in their tasks is doing something with unassigned variables.

Given this, I think an optional checkbox option telling user to replace undefined with empty ones would be better rather than just changing the behavior.

[2016-07-24 17:32] harshil93 commented on #29
@pascalberger Hey can you help me in testing this. https://github.com/openalm/Extension-UtilitiesPack/pull/50 I have raised the PR but wanted someone who is actively using it to test it. You can install it using tfx-cli

[2016-07-24 17:43] pascalberger commented on #24
@harshil93 Thanks for the feedback. I'll update the PR with a user checkbox. But propably will wait until #50 is merged and rebase on this.

[2016-07-24 17:53] pascalberger commented on #29
@harshil93 Unfortunately I don't have any definitions using this task. I always wanted to use it but #24 is a blocking issue for me.

[2016-07-24 20:35] harshil93 commented on #29
Thanks, I will try to complete my testing and will try to get it merged asap.

via CloudMagic Email<https://cloudmagic.com/k/d/mailapp?ct=pa&cv=8.5.49&pv=6.0.1&source=email_footer_2>
On Sun, Jul 24, 2016 at 11:23 PM, Pascal Berger <notifications@github.com<mailto:notifications@github.com>> wrote:

@harshil93<https://github.com/harshil93> Unfortunately I don't have any definitions using this task.

[2016-07-26 10:35] zevanreg commented on #45
I faced this problem also. The cause is that when DestinationPath parameter is relative (e.g. $/Default/Solution/Project/TestFile.xml) it comes to tokenize.ps1 not resolved as it is in SourcePath:

2016-07-26T10:28:03.9101847Z SourcePath = C:\agent\_work\2\s\Solution\Project\TestFile.xml
2016-07-26T10:28:03.9131880Z DestinationPath = $/Default/Solution/Project/TestFile.xml

[2016-07-29 01:32] dzimmyman opened #51 "Build or release variables are not evaluated"
...Updating token '__Version__'
 ...Found custom variable 'Version' in build or release definition with value '$(BuildID)'
(Same result with $(Build.BuildID) or $(Release.ReleaseId)

The result is "__Version___" gets replaced with the literal string "$(BuildID)"

[2016-08-04 05:21] incarnate commented on #29
I've just tested this in my VSTS account with a clone of an existing build workflow which uses Tokenizer currently - it worked as expected.

The only thing missing is [this change](https://github.com/openalm/Extension-UtilitiesPack/commit/303b3fbe2ad28120e07184e94a964e381ddd4114) so that the task shows up for Build definitions as well as Releases.

Thanks!

[2016-08-04 06:52] incarnate commented on #46
I've got a fix for this ready, just waiting on #50 to be merged.

I've an option for two extra parameters to the JSON file so that the namespace can be set, like so:

      {
        "KeyName": "/configuration/ns:nlog/ns:targets/ns:target[@name='email']",
        "Attribute": "to",
        "value": "logs@test.com",
        "NamespaceUrl": "http://www.nlog-project.org/schemas/NLog.xsd",
        "Na

[2016-08-04 11:35] zsmorris commented on #21
Why is this bug closed if it's not fixed?  Not being able to read encrypted variables makes this extension pretty much useless.  Is there duplicate bug issue somewhere else?

[2016-08-04 11:36] zsmorris commented on #51
I have also found the same issue.  This should be classified as a bug.

[2016-08-04 11:39] zsmorris commented on #21
What's the latest word on when this will be fixed?  Extension is pretty much useless without it.

[2016-08-15 14:06] johnpenmanweb opened #52 "##[error]The given path's format is not supported."
TFS 2015 Update 2 On Prem.

Using Zip A Folder Build Step

Getting the following error:  2016-08-15T13:49:11.5749241Z ##[error]The given path's format is not supported.  **Does it matter if there are sub directories in the folder I am trying to zip?**

Properties Page:
  **Path to Folder**:  Tried hard coded as shown and using TFS variables to same path
      e:\Build\Hybris\hybris\bin\Custom\8\a\

[2016-08-26 06:26] anangaur opened #53 "Auto mode when all appsettings and all connection strings will be matched agains all variable names and substitute with the values"

[2016-08-31 09:57] harshil93 commented on #21
@robpex @pascalberger @zsmorris

If you pull in the latest source code and package it and use. You should be able to replace secret vars. Make sure you are using the new CoreCLR based agent with version >= **2.104.2**

[2016-08-31 09:59] harshil93 commented on #51
@dzimmyman @zsmorris Can you elaborate a bit more the scenario where this is happening ?

[2016-08-31 10:01] harshil93 commented on #45
I will take a look at this. This seems to be a TFVC specific problem.

[2016-08-31 10:02] harshil93 commented on #40
@dsoprea Doesn't seem to be happening with me. I tried to repro it and many of our production systems are using it without problem. Let me know if it is still happening.  I am closing the issue for now.

[2016-08-31 10:02] #40 closed

[2016-08-31 10:08] harshil93 commented on #52
https://github.com/openalm/Extension-UtilitiesPack/blob/master/Utilites/Zip/zip.ps1

It uses the .net compression function which is a one liner and it does handle sub directories. Please run these two commands with variables set properly to see whether it is succeeding or not.

`Add-Type -A System.IO.Compression.FileSystem
[IO.Compression.ZipFile]::CreateFromDirectory($pathToZipFolder, $pathToZipF

[2016-08-31 10:10] harshil93 commented on #49
@jdshkolnik Can you give a more detailed info of your scenario ? I couldn't make much out of the your last post

[2016-08-31 10:11] harshil93 commented on #46
@incarnate I have updated the extension to use the latest sdk and it now supports secret vars too. I won't put it on marketplace because of some compat reasons. You can pull in the source code and package it under your own private publisher name and install it. It will require the new coreclr agent with version >= 2.104.2 to work.

[2016-08-31 13:24] harshil93 commented on #43
Fixed

[2016-08-31 13:24] #43 closed

[2016-08-31 13:25] harshil93 commented on #39
@strtdusty I think I seperate task supporting inline would be a better alternative.

[2016-08-31 13:27] harshil93 commented on #37
@shashban Can we close this ? or something else has to done here ?

[2016-08-31 13:29] pascalberger commented on #46
@harshil93 Does this mean version on the marketplace never will be updated?

[2016-08-31 13:44] strtdusty commented on #39
That would work for me!

[2016-08-31 23:36] jdshkolnik commented on #49
![image](https://cloud.githubusercontent.com/assets/2047520/18149946/969fde96-6fb1-11e6-9139-db4a377c78bd.png)

![image](https://cloud.githubusercontent.com/assets/2047520/18150043/27d7662c-6fb2-11e6-9b89-1a87cf80dd13.png)

[2016-08-31 23:49] incarnate commented on #46
Thanks for the update @harshil93 - I should have time to submit a PR for this later in the week.

I echo Pascal's question on if/when this will be one the marketplace, I thought bumping the major version number would protect the existing installs & configurations.

[2016-09-01 04:41] harshil93 commented on #46
@incarnate @pascalberger The problem with updating it on the market place is that, it has a dependency on the new agent. Some of the Hosted Agents are still on the old agent. They should be updated to the new agent in a couple of weeks and after that I will release it to the market place.

I will try the logic of bumping major version, but I don't think its gonna work. At max it would be a couple

[2016-09-01 06:30] incarnate commented on #46
Sounds good to me, I didn't realise the limitation was the hosted agents. Since we're using hosted agents I'll hold off on deploying this as well.

[2016-09-01 13:37] schwaizi commented on #37
i believe this has been solved

[2016-09-01 13:37] #37 closed

[2016-09-16 17:21] dsoprea opened #56 "License"
Please post a license file. It is not clear how this sourcecode can be used or credit should be attributed.

[2016-09-20 08:20] honk82 opened #57 "UTF-8 encoded files gets ASCI encoding after tokenization"
Hi,

We use your Tokenizer to update configuration settings in VSTS. Our configuration files are UTF-8 and includes special characters. When run thru the tokenizer the characters gets messed up and the file encoding changes from UTF-8 to ASCI.

We've analysed your code and we believe that you're missing the encoding flag here
`Set-Content $tempFile -Force`

Best regards
Henrik

[2016-09-26 19:11] anangaur commented on #56
Added MIT license file. Thanks.

[2016-09-26 19:11] #56 closed

[2016-09-27 11:46] wkz123 commented on #57
+1
just stumbled on this issue while transforming a config file :(
Best regards

[2016-09-29 14:45] ijabit opened #58 "Tokenizer doesn't work with on-premise build server"
I'm using the latest version and when running Tokenizer on a hosted release it works fine. But if I release from our build server on premise, I get this error:
[code]

Is it expecting a certain environment variable to be present, or a certain version of PowerShell (we have version 4.0)?

[2016-10-04 14:40] ijabit commented on #58
Bump

[2016-10-05 05:14] harshil93 commented on #58
I see that you are using the latest version of the task 2.0.0 ( which is yet to be released on market place) which is supported only on the agents > 2.104.2

Can you please confirm that you are using old agent.

[2016-10-05 14:43] ijabit commented on #58
The agent we are using in our on-premise builds is version 1.105.6. So that must be the problem? Thanks!

[2016-10-05 15:14] harshil93 commented on #58
Yes in that case, you should use the vsix which you can download from the market place instead of the one in this repo. I am working on a way by which this compat could be ensured only after it I will release it to market place

[2016-10-05 15:18] #58 closed

[2016-10-05 15:21] ijabit commented on #58
Unfortunately, that version doesn't support secret variables, which is why we are using this version. Any idea when the new version, with secret variable support, will be released?

[2016-10-05 17:40] harshil93 commented on #58
@ijabit I will see if I can speed up the process somehow.

[2016-10-06 12:08] harshil93 commented on #57
@honk82 Thanks for reporting it. I will fix it.

[2016-10-14 08:42] rajbos opened #59 "Update documentation with more explanation how to use this"
Hi all,

I wanted to used this extension to replace some tokens during build, but I cannot figure out how to do this. The documentation mentions using a Configuration Json file to use for the transformations. If I include this file into TFS, I would include the values to use (perhaps secrets) into TFS. That isn't something I'd recommend :-). Is there a way to use build variables in the config file

[2016-10-17 07:20] rbengtsson commented on #57
We also have this issue. Any ETA on this one? :-) Thanks!

[2016-10-18 13:34] kvarley commented on #21
I hate to pile on here but is there any plan for releasing this.  As near as I can tell, the code is already there but its not packaged as the primary task.

[2016-10-18 16:55] harshil93 commented on #57
Anyone here has a fix for this ? I was going through the docs and found that the default encoding for the Get-Content cmdlet is ASCII.

I will have to first somehow detect the encoding of the file and then use the same encoding while saving it back.

[2016-10-20 17:09] harshil93 commented on #57
Fixed in the latest commit for BOM encoded UTF files. Will update the extension on the marketplace. If you are using it in your on premise environment. Download the 0.1.5 version vsix from the root of the repo and use it.

[2016-10-20 17:09] #57 closed

[2016-10-20 17:10] harshil93 commented on #21
Released. See the 0.1.5 version VSIX package at the root of the github repo.

It will be released to the marketplace very soon ( couple of days)

@kvarley @robpex @pascalberger  @zsmorris

You will be able to use secret variables only if you are on >2.104.2 agent version.

[2016-10-20 17:10] #21 closed

[2016-10-20 17:12] harshil93 commented on #59
You will define the variables in the variable section of Build/ReleaseManagement.

ConfigurationJson is the alternate option.

[2016-10-20 17:12] #59 closed

[2016-10-20 17:12] #52 closed

[2016-10-20 17:13] harshil93 commented on #51
Closing the issue because of no response.

[2016-10-20 17:13] #51 closed

[2016-10-20 17:14] harshil93 commented on #46
@incarnate Closing this. You can go ahead and fix this issue as the new sdk port is done.

[2016-10-20 17:14] #46 closed

[2016-10-20 17:17] harshil93 commented on #49
Rollback task is supposed to be used only with Release Management.

[2016-10-20 17:17] #49 closed

[2016-10-20 17:18] harshil93 commented on #24
@pascalberger The PR is merged. If you want to contribute to this. Go ahead.

[2016-10-20 17:20] #44 closed

[2016-10-20 20:15] pascalberger commented on #24
@harshil93 Since you have closed this issue do you already merge the PR (#48)? Otherwise the issue is not fixed...

[2016-10-21 01:30] incarnate commented on #46
Thanks @harshil93 - please see PR #54 for this fix

[2016-10-21 04:51] harshil93 commented on #24
@pascalberger I will try to get it merged by today. Reopening the issue till it get merged.

[2016-10-21 05:02] #24 closed

[2016-10-26 12:27] domasd opened #60 "Tokenizer does not take into consideration file encoding. It outputs always ANSI coding"
Caused me an error, when I had UTF8 encoding

[2016-10-27 20:27] userjeff3 opened #61 "use with clickonce"
Has anyone ever successfully used the tokenization step with a clickonce WPF app?

The first problem: The path to the published config file has the app version embedded in it. I can't find a system variable with that value for specifying the "source file name" path. (The config file in the working directory is not used in a clickonce scenario.)

The next problem: If ANY file is modified after a cl

[2016-10-28 19:47] JRRuzinok opened #62 "Tokenization Task - Exception does not stop deploy"
When malformed JSON is in the configuration file and a parsing exception is thrown the deploy pipeline continues with the next step even if the Continue on error check box is unchecked.

Here is the stack trace for an exception when the last element of the ConfigChanges array has a trailing comma:
Error parsing configuration file. Exception message:
System.ArgumentException: Invalid array passed i

[2016-11-08 06:32] harshil93 commented on #60
@domasd It is fixed in the latest extension version 0.1.6. Which version are you on ?

[2016-11-08 06:35] harshil93 commented on #61
@userjeff3 This seems like a scenario specific issue. The tokenizer task is a generic tool which will transform any type of file given the tokens to replace are of the form __foo__ and the foo variable is declared in Release Variables in VSTS/TFS.

I will keep the issue open for some time so that others can reply. After that I will close it down.

[2016-11-08 06:36] harshil93 commented on #62
Thanks for reporting. I will see this one.

[2016-11-08 20:01] userjeff3 commented on #61
I disagree. The first problem I mentioned necessitates the ability to specify target files with a mask. I have since found [another](https://marketplace.visualstudio.com/items?itemName=qetza.replacetokens) extension that will do this. This one does not.

If you consider using TFS to release a clickonce application as "scenario specific", then, fine the next problem can be ingnored.

Thanks for rep

[2016-11-09 04:25] harshil93 commented on #61
About the first problem. You can specify target files with a mask. For eg. _TargetFilePath = $(System.DefaultWorkingDirectory)/abc.txt_ should work. Am I missing something here ?

I don't know about click once applications, I will have to probably read about it before I can judge whether it could be ignored of not.

[2016-11-09 16:33] userjeff3 commented on #61
Rather than mask, I should have said wildcard. Something like "$(System.DefaultWorkingDirectory)/drop/*.config".
I agree that the clickonce manifest issue is unrelated.
Thanks again for replying.

[2016-12-01 18:15] SeamusMcGurk opened #63 "Sample *.json file?"
HI,

   I'm trying to set up a token replacement for my config files.  I have the source filename set to:
$(System.DefaultWorkingDirectory)/TFS Web Build 1.0/Corporate Art\app.RM.config
      (Here, the RM file is the tokenized config file using __token__)
The destination filename is set to the true name of the config file:
Company.Client.Corporate.exe.config
I have the json file on the build serv

[2016-12-09 13:43] mitchellm44 commented on #62
In our environment, We have a good number of 2008 R2 servers which have a default Powershell of Version 2.0  - This post
 http://chrisoldwood.blogspot.com/2011/05/powershell-throwing-exceptions-exit.html
 has a recent comment (2016) that pointed out a known powershell issue in detecting errors if you are on version 2 of powershell.
the Support link
https://support.microsoft.com/en-us/kb/2552055

I

[2016-12-09 17:01] mitchellm44 commented on #62
We did have 2 2008 R2 servers that were in the mix behind our TFS VIP. We got them removed - but the Tokenizer still fails and it still runs past the tokenizer with an error

[2016-12-15 05:03] j-re opened #64 "Token Replacement does not seem to be modifying the file"
Hi,
The token replacement does not appear to be working for me. Below is the log output from release manager:

[section]Starting: Tokenizer: Transform Source filename
==============================================================================
Task         : Tokenize with XPath/Regular expressions
Description  : Replaces __<variable>__ and/or XPath for XML documents with User Defined variables o

[2016-12-15 05:51] j-re commented on #64
Ahhh, ignore me.
The issue was I though the tokenisation was running on the  deployed server. It is infact running on the Agent. I just needed to move the tokenisation BEFOReE the DeployAzureRM step.

[2016-12-15 05:57] #64 closed

[2016-12-16 06:15] brett3210 opened #65 "Missing Output from Rollback Task"
I am trying to implement the Rollback Task example shown on https://blogs.msdn.microsoft.com/visualstudioalm/2016/03/28/implement-rollback-with-release-management-for-tfs-2015/

I am unable to locate the "Write-Verbose" and "Copy-Item" execution output when using the "Inline Script" option.  It is not shown in the Release "Logs".  The Log basically only contains the script itself.  Are there any o

[2016-12-16 18:56] ijabit opened #66 "Powershell++ Interpreting StdOut as StdErr"
I'm using PowerShell++ to run two NPM install tasks in parallel. I'm using Start-Job with a script block that runs NPM install. The problem is that some of the installed NPM packages have install.js scripts that run which output various status messages into the console. They are informative only but the PowerShell++ task is interpreting them as errors and failing the build!

[2016-12-17 10:16] harshil93 commented on #66
@ijabit Please use the inline Script option of the Powershell task instead of Powershell++ . Powershell++ will be deprecated.

[2016-12-17 10:16] #66 closed

[2016-12-17 10:17] harshil93 commented on #65
@shashban Any hints for this ?

[2016-12-17 10:19] harshil93 commented on #63
Take a look here for the right format. https://github.com/openalm/Extension-UtilitiesPack/blob/master/Utilites/overview.md

[2016-12-17 10:19] #63 closed

[2016-12-17 10:19] harshil93 commented on #60
Fixed.

[2016-12-17 10:19] #60 closed

[2016-12-17 10:20] #61 closed

[2016-12-22 06:03] brett3210 commented on #65
I set "System.Debug" to "true" and have some further logging which may help:

2016-12-21T03:11:37.7790785Z ##[debug]Calling https://XXX.vsrm.visualstudio.com/YYY/_apis/release/releases/70/environments/89/tasks?api-version=2.1-preview.1 using obtained PAT token

2016-12-21T03:11:37.8070784Z ##[debug]GET https://XXX.vsrm.visualstudio.com/YYY/_apis/release/releases/70/environments/89/tasks?api-versio

[2016-12-29 23:19] gellmaster opened #67 "Tokenizer: Predefined variables"
I’m exploring the Tokenizer task as a way to surface some build information in my web app by updating a couple web.config app settings.

I am trying to use “BUILD_BUILDNUMBER” and “BUILD_SOURCEVERSION” in the web.config. I am not using configuration json. As best as I can tell it seems predefined variables are not included for replacement, only user defined. Is this accurate or am I not doing some

[2017-01-10 22:32] jondavis-ineight opened #68 "Tokenization updates only attribute, not XML element text"
Only attributes can be tokenized, it seems. So if you have something like ..

    <MyProperty>myvalue</MyProperty>

.. it won't tokenize. Line 80:

        if ($node) {
            try {
                Write-Host "Updating $($key.Attribute) of $($key.KeyName): $($key.Value)"
                $node.($key.Attribute) = $key.Value
            }
            catch {
                Write-Error "Failure

[2017-01-16 03:00] brett3210 commented on #65
Is anyone able to assist with this please?

[2017-01-16 09:09] shashban commented on #65
Hi Brett,

Can you confirm the following in this regard?

- Are you using the task on VSTS or TFS On Prem?
- Does the API https://XXX.vsrm.visualstudio.com/YYY/_apis/release/releases/70/environments/89/tasks?api-version=2.1-preview.1 succeed if you hit it from a browser?
- Can you try https://XXX.vsrm.visualstudio.com/YYY/_apis/release/releases/70/environments/89/tasks also?

To me, it looks like

[2017-01-17 17:38] Gaikotsu2 opened #71 "Tokenizer: Use SelectNodes instead of SelectSingleNode"
It would be nice to be able to use the XPath capabilities to update several nodes using a single XPath statement. I have a situation where the same value that needs to be placed into multiple similar xml hierarchies.

The limitation appears to be due to the use of `SelectSingleNode(...)` to return a single node based on the XPath supplied instead of using `SelectNodes(...)` and iterating over all

[2017-01-19 19:39] brett3210 commented on #65
Hi Shashban,

Thanks.
- We are using VSTS
- The 1st URL returns
"The XXX.vsrm.visualstudio.com page isn’t working
XXX.vsrm.visualstudio.com is currently unable to handle this request.
HTTP ERROR 500"
- The 2nd URL returns details:
"{"count":8,"value":[{"id":1,"timelineRecordId":" ..."

Regards

[2017-01-23 15:06] steinmr opened #72 "WebDeploy of tokenizer result"
I'm using the "Azure Web App Deployment"-task in Release Management to deploy my web app. My idea is to use tokenizer to modify the web.config, with different values for each environment. But how is this actually done? I already have the prepared web-deploy package containing the web site as the build output. Must I unpack the package, run tokenizer on web.config and then re-package it before depl

[2017-01-30 23:29] brett3210 commented on #65
Hi Shashban,

Just wondering whether you've had an opportunity to investigate this further?

[2017-02-08 16:01] sevaa opened #73 "Powershell++: remote"
Please let Powershell++ run inline scripts on remote machines, with target machine name as an option parameter.

[2017-02-10 18:28] spoonraker commented on #20
I just downloaded and installed this extension yesterday and it is still not replacing secret variables for me. I just did multiple tests on my release where I changed the variable from secret to not-secret and queued back-to-back releases and watched it fail every time it was marked secret.

I read the other issue linked above and people seem to have stated that if you download the source code yo

[2017-02-27 06:23] degant commented on #67
Any update on this? I am also looking to replace using pre-defined variables instead of having to define values in the Configuration Json.

[2017-02-27 06:25] degant commented on #53
This is a much needed enhancement. Without this the tokenizer utility is a pain and less useful too.

[2017-03-02 15:40] devingoble commented on #72
Tokenizer needs paths to the input and output files. So, you'll need to have the files unpacked.

Is the web.config in your package already tokenized?

[2017-03-02 15:44] devingoble commented on #67
Try replacing the underscores inside the variable name with periods.

[code]

This is how we use it, and it works fine.

[2017-03-09 08:25] steinmr commented on #72
Sorry for not updating this, I found the solution.

I have the transform-file checked in with my code, and when building, I copy both config and transform files to a separate directory. I then (during release) run the transform (which tokenizes file amongst other things) and then the tokenizer to replace the actual values with config values.
The last step (which was my question), is that after I d

[2017-03-09 08:25] #72 closed

[2017-03-28 18:54] scottcrowe opened #76 "Ampersands in value are escaped"
When using an ampersand in the value of JSON the & gets replaced with "\&amp;"

This is a problem when needing to have an escaped character inside the value (i.e. escaped double quote as \&quot;)

[2017-03-29 13:55] scottcrowe commented on #76
Work around found.

Entering " in target value as `\"` instead of `&quot;` works.

May need additional feature for having a pre-encoded value

[2017-05-09 19:43] ukphillips commented on #20
@spoonraker I just had the same issue - according to other threads this should be fixed with version 0.1.5, and I have installed 0.1.6, and it is still not working. Very confused as that looks like the most recent version that is in the repo.

[2017-06-01 19:01] PaulMEdwards commented on #29
Thanks for all of your efforts.
Has this been merged?

[2017-06-09 10:22] ateb-ms opened #78 "Setting API version on Rollback Powershell task"
Hello

I'm getting a (404) Not Found on the Rollback Powershell script when it attempts to get the tasks. I've identified this as the api-version that is being passed. 2.1 does not work but 3.0 does. Is there anyway to change this, other than manually amendding the Rollback Powershell script on the server?

Debug logs:

[code]

[2017-06-13 14:08] rupalibolke opened #79 "Can we have option of overwriting the contents while unzip"
The task fails if there are contents already present. Kindly add this feature to the utility.

[2017-06-18 18:48] yshahin opened #80 "VSTS - Tokenizer - SourceFilename issue"
I am having trouble using this module, getting this error

##[error]d:\a\r1\a\[Prod] Package\ProdDrop\PROD.Endpoint\ServiceConfiguration.cscfg is not a valid path. Please provide a valid path

Is there a problem with spaces in the name?

[2017-06-19 17:45] gellmaster commented on #67
Sorry for the delay.

That did the trick! I still haven’t found documentation that clearly highlights this exact format, so thank you @devingoble for taking your time to help.

It seems the “Azure App Service Deploy” v3 task has similar functionality that I may explore. It would be nice to see a build only task, like this extension, that is baked in to VSTS. Extensions require a VSTS admin to inst

[2017-06-19 17:45] #67 closed

[2017-07-03 15:48] harshil93 commented on #80
It shouldn't be a problem since the script gets the path as a variable and doesn't try to do anything funky with it. Try wrapping it with quotes and try.

[2017-07-03 15:48] harshil93 commented on #79
@rupalibolke It is very simple code, would you be willing to contribute.

[2017-07-04 03:45] harshil93 opened #84 "Testers required for the new version."
Hi @superarchi @Atvaark @RTHilton @scottcrowe @incarnate @pascalberger

You guys have contributed in the past and I would like you guys to test out the new version
https://github.com/openalm/Extension-UtilitiesPack/blob/master/Utilites/ms-devlabs.utilitytasks-0.1.7.vsix

It mostly contains improvements in Tokenizer with custom variables support ( see the overview.md file )

It would be great if so

[2017-07-05 09:54] 616b2f commented on #20
Same issue here, I am using:
Microsoft Visual Studio Team Foundation Server
Version 15.112.26307.0

In logs I get "No value found for token '__testpwd__'" for secret variables.

[2017-07-05 12:54] 616b2f commented on #20
We resolved this issue by updating the Build Agents to the latest release.

[2017-07-05 19:44] thomazpadilha commented on #57
@harshil93 , do you know if this fix needs the v2 build agent like the secret variables one?

I'm currently using the 1.6 version of the extension with on-premises TFS 2015 U3 (build agent 1.95.3) and I'm having encoding problems whenever I run Tokenizer on Web.config's which have words with special characters like "Homoloção" (which are often used on XML comments).

I used Notepad++ to check the

[2017-07-06 08:06] vlm--- opened #85 "Rollback Task in redeploys"
Hi, it seems that the RM API always returns tasks status for the first run of deployment only. I redeployed an environment after fixing some authorization issues and I still got failed status even when logs clearly says every task was successful.
I've confirmed it by calling API manually and checking values in json. Btw, I'm using local TFS installation, I don't have any releases in VSTS yet.

[2017-07-07 07:16] Atvaark commented on #84
Hey @harshil93,

I've been testing the new version with my TFS 2015 Update 3 since you've created this issue and I haven't noticed and problems yet.

I'm using multiple Tokenizer tasks in my release configuration. One that just uses the environment variables and one that uses this configuration JSON file to replace the logging level of some deployed services.
[code]

[2017-07-07 07:57] harshil93 commented on #84
Thanks @Atvaark for the info. I will release the version in marketplace in next week or so.

[2017-08-17 15:14] NkululekoMakhubu opened #86 "System.IO.FileLoadException: Mixed mode assembly is built against version 'v2.0.50727' of the runtime and cannot be loaded in the 4.0 runtime without additional configuration information. at Microsoft.SqlServer.Management.PowerShell.GetScriptCommand.ProcessRecord() at System.Management.Automation.CommandProcessor.ProcessRecord()"
I attached a PowerShell script that has an invoke-sqlcmd and I received the error above. It's not very detailed as you can see but what's concerning is that I can't tell if this is a Visual Studio Online issue or My Script.

--Script--
Invoke-SqlCmd -inputfile "" -serverinstance $SQLServer -database ""

[2017-09-28 17:26] sumigoma opened #87 "Shell++ fails with not found echo: null"
The shell++ task (inline script) appears to fail with `not found echo: null`, no matter what I put in the textarea. Am I missing something on the build agent? (using a local VM as my agent).

Edit: The build agent is running Windows 10. I've tracked this down to vso-task-lib being unable to run which() because the build agent is a Windows machine and using cmd by default instead of bash. I have gi

[2017-09-29 08:17] RAFP1 opened #88 "Unzip to more than one server"
Is it possible to unzip your files into the same location on more than 1 server?

[2017-10-13 17:57] rschoenbach commented on #84
@harshil93 Can you please update the market place with version 0.1.7? I would like to use the default configuration support.

[2017-10-18 11:49] harshil93 commented on #84
@rschoenbach  Should be in the market place in the next couple of days.

[2017-10-18 11:49] #84 closed

[2017-10-18 11:50] harshil93 commented on #88
Nope, you will have to somehow run this task on multiple servers. See deployment groups in vsts

[2017-10-18 11:50] #88 closed

[2017-10-18 11:52] harshil93 commented on #87
Shell task doesn't work on windows. It currently depends on echo and bash linux commands. If both of them are available then it may work on windows but it was never intended to work on windows.

[2017-10-18 11:52] #87 closed

[2017-10-18 11:53] harshil93 commented on #86
Looks like a dll loading issue. Try the same command on the machine where the agent is running

[2017-10-18 12:06] NkululekoMakhubu commented on #86
Yes, this runs perfect on our local server but when running the script on Visual Studio online that exception pops up.

[2017-10-19 12:45] rschoenbach commented on #84
@harshil93 Thank you. Just as an FYI, the version for the marketplace was not updated.
![image](https://user-images.githubusercontent.com/9310113/31771328-b3daf976-b4a9-11e7-9615-8628998ac643.png)

[2017-10-20 06:47] harshil93 commented on #84
@rschoenbach  Thanks for letting me know that. I have updated it to 0.1.8 now.

[2017-11-12 19:01] deadlydog opened #89 "Update documentation to mention how to specify which Environment to use for the Tokenizer task"
The Tokenizer task documentation mentions that the json file can have multiple `<release environment name>` sections in it. How then do I specify which environment section should be used to do the token replacement at deploy-time? Does the name of the section in the json file need to match the $(Release.EnvironmentName) VSTS variable value? Or something else? This seems like a pretty crucial piece

[2017-11-12 20:18] deadlydog commented on #89
After some testing I see that the environment you specify in the json file must match the name of the Environment in VSTS Release Management. I would ask that the documentation get updated to mention that.

Also, is there anyway to override that? Perhaps by overriding a RM variable or something? It would be nice to be able to pass that into the Tokenizer task, where it would use the specified valu

[2017-11-12 21:40] deadlydog commented on #89
I've submitted pull request #90 to address this issue.

[2017-11-12 21:46] deadlydog opened #91 "Feature Request: Ability to provide/override Json environment used by Tokenizer task"
The Tokenizer task documentation mentions that the json file can have multiple `<release environment name>` sections in it. Currently it seems that the `<release environment name>` specified in the json file must exactly match the Environment name used in the VSTS Release Management release definition. Is there anyway to override that? Perhaps by overriding a RM variable or something? It would be

[2017-11-12 22:32] deadlydog opened #92 "Feature Request: Allow Json file tokens to be replaced before transforming"
The Tokenizer task allows secrets to be replaced with Release Management variable values. It also allows a Json file to be used to specify more complex replacements to the configuration file (e.g. web.config file). The problem today is that most developers won't have __SomeVariable__ in their web.config file when they check it into source control; they'll likely have a actual value in the field th

[2017-12-07 00:14] PaulMEdwards opened #93 "Does source filename support wildcards?"
The documentation doesn't mention whether the source filename parameter supports wildcards... So I figured I'd ask.

If it's not currently implemented in that way, could you treat this as a feature request?

Thanks in advance.

[2017-12-09 20:44] deadlydog commented on #89
Any word on getting pull request #90 accepted? Make sure you do the "rich diff" in GitHub so it's easy to see what changes I actually made; the default "source diff" just shows the whole file as being changed, instead of just the words/lines that I changed.

[2017-12-22 22:29] deadlydog commented on #89
*crickets chirping*

[2018-01-19 04:17] TonyDou opened #94 "Can you update the version in marketplace to latest?"
I'm using this task in visual studio online, and the current version on marketplace https://marketplace.visualstudio.com/items?itemName=ms-devlabs.utilitytasks is quite old (0.1.8). I need to replace secrets with the fixes in this GitHub repo. I can't install extensions to the vso tenant, I don't have access to do it.

[2018-01-19 04:23] #94 closed

[2018-02-02 04:59] mikaelsnavy commented on #80
I'm having a similar error and it seems that the square brackets are causing the issue. If I take the square brackets out it works fine, but does not work with them in (even if double quotes are used).

[2018-02-07 15:49] deadlydog commented on #89
@harshil93 any change of getting this PR #90 merged in?

[2018-02-09 20:20] deadlydog opened #95 "Feature Request: Allow PowerShell++ inline script to accept arguments"
It would be nice if the PowerShell++ task allowed arguments to be passed to Inline Scripts like it does with File Path scripts. The default TFS `PowerShell` task allows this, but it's max inline script character length is much too short, which is why I have been using this task instead.

[2018-02-13 03:50] deadlydog commented on #89
Awesome, thanks for merging the PR in @harshil93 👍

[2018-02-13 03:50] #89 closed

[2018-02-21 19:09] Symbianx commented on #68
@harshil93 any update on this request?

[2018-02-22 04:26] harshil93 commented on #68
@Symbianx I haven't actively worked on this and currently very busy in my day to day work. Although I am willing to accept pull requests if you want to contribute.

[2018-02-22 04:28] harshil93 commented on #95
@deadlydog I have deprecated the Powershell++ task as the support cost for it was large.

I would suggest you to fork out the default Powershell task, change the maxLength field in its JSON and package it in your own extension and publish. You will have a lot of control in that case.

[2018-02-22 04:28] #95 closed

[2018-02-22 04:30] harshil93 commented on #93
No, it doesn't support wildcards. I am accepting pull requests as I don't have time to contribute to this repo right now. Do send PRs if you like.

[2018-02-22 04:33] #86 closed

[2018-02-23 19:40] deadlydog commented on #95
Well that makes me sad since I already use your awesome extension in many release definitions, but I understand. Thanks for replying back @harshil93 👍

[2018-03-19 10:02] dialex opened #96 "The icons of each task do not look coherent"
- The quality or sharpness of the icons is bad, as they look very pixelated.
- The style (look and feel) of each task icon is independent, it doesn't look like it's part of the same package.

Should I make a PR with the improved icons?

[2018-04-04 12:37] TheBeardedLlama commented on #92
I agree. It doesn't make sense that the json cannot use variables

[2018-06-15 21:34] jd-porter commented on #68
Hi there,
This is possible with the extension as-is! For the example above, you'd specify a KeyName of

`/MyProperty/text()`

The text() function ensures that you're always selecting the innerText.

[2018-07-13 10:21] vikaskm007 opened #98 "Access issues with UnZip task"
I am using Unzip task inside a deployment group. The Unzip task fails with access denied error where as I have full access on the server. Can you pls check on this.

[2018-07-17 11:52] danko-d opened #99 "tokenize-ps3.ps1 does not work with environment variables"
In `tokenize-ps3.ps1` it is no longer possible to use environment variables as replacement strings.

It was possible in `tokenize.ps1` thanks to the following lines:

[code]

[2018-07-25 14:56] patware opened #100 "PowerShell++ inline script and Secret Variables"
I'm trying to figure how to use a "Secret" variable with the PowerShell++ Inline Script.

Is it possible ?

Here's what I tried so far.

The secret variable is named deploymentPassword

Test 1:
================================
Write-Host "Encrypting the Password"
$secpasswd = ConvertTo-SecureString $(deploymentPassword) -AsPlainText -Force

Write-Host "Creating the Credential Object"
$cred = New-O

[2018-07-27 12:24] patware commented on #100
Found it…  I was super close…..  For the ConverTo-SecureString, I had to wrap the deploymentPassword with double quotes:

My suggestion is to add this to your Knowledge Base/Wiki/Readme.md for others.

This worked:
===============
Import-Module "Microsoft.TeamFoundation.DistributedTask.Task.Internal"

Write-Host "Securing value"
$secpasswd = ConvertTo-SecureString "$(deploymentPassword)" -AsPlainT

[2018-08-30 12:05] TheBeardedLlama commented on #99
update: never mind, it was a red herring in my case...

I think I've hit the same problem.
Did you get anywhere with it @danko-d ?

[2018-08-30 12:50] balaji-dabbara opened #101 "Powershell++ (Version : 0.4.0) task has not started"
This is an issue with Powershell++ task in VSTS build. We have a perfectly working Powershell code written in the task. This is working most of the times in the VSTS build. Sometimes the powershell task has not been started at all. It is getting stuck until the VSTS build is timed-out and the task is getting cancelled.

At the end we have below error.
##[error]The operation was canceled.
##[sectio

[2018-08-31 10:55] Vansen111 opened #102 "Keeps saying configuration file not found"
Hi, I have a problem using the tokenizer. I insert the source file and the configuration source filename having a valid json. I use the tokenizer in the build pipeline.
On build it keeps saying the configuration file cannot be found. It is checked in and has a valid json inside of it. Contents are as follows - to avoid mistakes that might be caused by underscores I put in both possibilities:
{
  "

[2018-08-31 23:01] aleksandro83 opened #103 "Shell ++ Failing with msg not found echo: null"
I'm trying to execute a script sh in my repository root folder but I am getting the message error bellow:

2018-08-31T20:11:21.8296793Z ##[section]Starting: Shell Script
2018-08-31T20:11:21.8302330Z ==============================================================================
2018-08-31T20:11:21.8302515Z Task         : Shell++
2018-08-31T20:11:21.8302637Z Description  : Execute bash script
2018-0

[2019-01-11 06:36] shashban commented on #65
Closing this old issue.

[2019-01-11 06:36] #65 closed

[2019-11-27 12:54] LiangZugeng opened #106 "Tokenizer: Encoding detection function didn't play well in some encoding scenarios"
We are using the latest version of Tokenizer (2.1.0) to replace tokens in files during deployment stage, everything worked fine until today when we had a file containing some Chinese characters to be handled by Tokenizer.

What we observed is that after the execution of Tokenizer task, although the tokenization was done correctly, every Chinese character was replaced to ? (question mark, ASCII cod

[2020-01-30 14:12] charlieswing opened #108 "Tokenizer Log shows parsing error but still task still completes successfully"
I am running the Tokenizer task in my Azure DevOps Release Pipeline. The task shows as completing successfully but when I open the log it shows a parsing error due to an Exception and no tokenization ever occurs. Why doesn't this Fail the task, as I would want it to? I would think that this should cause the Tokenizer task to fail, particularly because I have the "Continue on Error" setting turned

[2020-02-10 21:11] pabrams opened #109 "Tokenization notation documentation"
Some spots use double underscores, others use only carets, others use both.  Took me a while to figure out that the correct notation is double underscores before and after the variable name.

[2020-03-18 08:49] LiangZugeng commented on #106
We switched to another tokenizer task, this issue is no longer on our radar. Issue closed.

[2020-03-18 08:50] #106 closed, assigned to nobody

[2020-04-24 16:21] Devyogan opened #112 "No error: Transformation not happening"
There is not any parser error or something else. But  "Updating value of descendant" not happening.

[2020-04-24 17:01] Devyogan commented on #112
its a local issue. nothing to do with utuility.

[2020-04-24 17:01] #112 closed, assigned to nobody

[2020-06-12 16:23] pcleckler commented on #102
We use a workaround. If the path to the configuration JSON is fully qualified, the problem no longer happens.

[2021-03-29 16:01] ovitrif opened #113 "Stream was not readable"
We start seeing this error more and more with the Tokenizer task. It's across different projects (Angular, C#).

[code]

Didn't see it for the last 3 years since we're using the task in our build & release pipelines 🤔

It seems to appear after all the tokens should have been replaced in the file(s), there's quite a lot of 'Updating token __X__' before it in the logs.

Any idea what might be wrong?

[2021-03-29 16:01] rdehuyss commented on #113
We are also encountering this issue!